/* ACF BACKEND CUSTOM CSS */

.acf-image-uploader .image-wrap img[src$=".svg"], .img-fluid {
    width: 100%;
    height: auto;
}

.column-thumbnail {
    width: 5.75em;
}

.acf-post-image-back {
    width: 80px;
    height: 80px;
    object-fit: cover;
}